    body {
      font-family: sans-serif;
      background: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
        border: 1px solid #cccccc;
      background: white;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 400px;
      overflow: hidden;
      margin-bottom: 1em;
    }

    /* .card h2 {
      margin-bottom: 1rem;
      text-align: center;
    } */

    .card-header {
        padding: 0.8em 1em;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background: #f5f5f5;
    }

    .card-body {
        display: none;
        padding: 1em;
        flex-direction: column;
        position: relative;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .form-group input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    button {
      width: 100%;
      padding: 0.75rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    .message {
      margin-top: 1rem;
      text-align: center;
    }

    .message.success {
      color: green;
    }

    .message.error {
      color: red;
    }

    .item-row {
    display: flex;
    align-items: center;
    gap: 0.5em;
    }

    .remove-btn {
    background: #dc3545;
    color: white;
    width: 48px;
    height: 30px;
    }

